html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding-top: 50px;
    font-family: Monotype Corsiva, Times, Serif;
    font-size: 14px;
    color: #000;
    padding: 0;
    border: 0;
    min-height: 100%;
    margin: 0;
    position: relative;
    background: url('../Resources/background.jpg') no-repeat center fixed;
    background-size: cover;
    cursor: url('../Resources/cursor/Default.png') 6 2, auto;
}



#tactical-arena-logo {
    height: 360px;
    width: 900px;
    position: relative;
    right: 30px;
    background: url('../Resources/Tactical_Arena_Logo.png') no-repeat center;
}


a {
    cursor: url('../Resources/cursor/Finger.png') 6 2, pointer;
}

h2 {
    font-weight: bold;
}


/* Main styles */
#maincontainer {
    width: 1200px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#left {
    background: url('../Resources/lbg.jpg') 100% 0 repeat-y;
    width: 265px;
    float: left;
    margin-top: 18px;
    padding-top: -18px;
    min-height: 750px;
    flex-grow: 1;
    flex-direction: column;
}

#right {
    background: url('../Resources/rbg.jpg') repeat-y;
    width: 935px;
    float: right;
    margin-top: 18px;
    margin-left: -1px;
    min-height: 750px;
    position: relative;
    flex-grow: 1;
}


/* Left column styles */
#ltop {
    width: 265px;
    height: 19px;
    background: url('../Resources/ltop.gif') top left no-repeat;
    position: relative;
    top: -18px;
    float: left;
}

#nav-block {
    display: block;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
}


.btn.btn-block {
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    background: url('../Resources/ui/PanelBlock.png') no-repeat;
    width: 202px;
    margin-bottom: 2px;
    padding-top: 12px;
    color: #b1aa90;
    text-decoration: none;
    text-align: left;
    position: relative;
    float: right;
    margin-right: 15px;
}

    .btn.btn-block img {
        float: left;
        margin-top: -5px;
        margin-right: 10px;
    }

    .btn.btn-block:hover {
        filter: brightness(120%)
    }



#lseparator {
    height: 28px;
    background: url('../Resources/lsepar.jpg') top right no-repeat;
    margin-top: 3px;
    display: block;
}



/* Right column styles */
#rtop {
    width: 735px;
    height: 19px;
    background: url('../Resources/rtop.gif') top right no-repeat;
    position: relative;
    top: -18px;
    float: right;
}

#bartop {
    background: url('../Resources/InfoBlock.png') top left no-repeat;
    background-size: 900px 75px;
    width: 900px;
    height: 75px;
}

#rtop2 {
    width: 935px;
    height: 75px;
    background: url('../Resources/rtop2.jpg') top left no-repeat;
}

#rbot2 {
    width: 935px;
    height: 75px;
    background: url('../Resources/rbot2.jpg') top left no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 2;
}




#ltcorn {
    position: absolute;
    top: -5px;
    float: left;
    z-index: 2;
    left: -5px;
    width: 50px;
    height: 46px;
    background: url('../Resources/ltcorn.png') top left no-repeat;
}

#rtcorn {
    position: absolute;
    top: -5px;
    float: right;
    z-index: 2;
    right: 22px;
    width: 49px;
    height: 46px;
    background: url('../Resources/rtcorn.png') top left no-repeat;
}

#ltcorn2 {
    position: absolute;
    float: left;
    z-index: 2;
    left: -5px;
    width: 50px;
    height: 46px;
    background: url('../Resources/ltcorn2.png') top left no-repeat;
    margin-top: -46px;
    bottom: -5px;
}

#rtcorn2 {
    position: absolute;
    float: right;
    z-index: 2;
    right: 22px;
    width: 49px;
    height: 46px;
    background: url('../Resources/rtcorn2.png') top left no-repeat;
    margin-top: -46px;
    bottom: -5px;
}


/* Account jog */

#jog-area {
    width: 204px;
    height: 220px;
    margin-left: auto;
    margin-right: 13px;
    position: relative;
}


#greetings-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url('../Resources/ui/UsernamePlate.png') no-repeat;
    width: 160px;
    height: 32px;
    color: azure;
    position: relative;
    top: -12px;
    margin-left: auto;
    margin-right: auto;
}

.jog-5 {
    position: absolute;
    background: url('../Resources/ui/jog/Back_5Buttons.png') no-repeat;
    width: 204px;
    height: 182px;
    display: block;
    bottom: 0;
}

.jog-btn {
    border-radius: 50%;
    position: absolute;
    display: block;
    width: 57px;
    height: 57px;
}

    .jog-btn.center {
        width: 82px;
        height: 82px;
        bottom: 50px;
        right: 61px;
    }

    .jog-btn:hover {
        filter: brightness(120%)
    }

    .jog-btn.upper {
        bottom: 100px;
    }

    .jog-btn.left {
        right: 140px;
    }

    .jog-btn.right {
        right: 6px;
    }

    .jog-btn.upper.left {
        background: url('../Resources/ui/jog/HeroNormal.png') no-repeat;
    }

    .jog-btn.upper.right {
        background: url('../Resources/ui/jog/GuildNormal.png') no-repeat;
        bottom: 100px;
    }

    .jog-btn.upper.left:active {
        background: url('../Resources/ui/jog/HeroPushed.png') no-repeat;
    }

    .jog-btn.upper.left#grayed-out {
        background: url('../Resources/ui/jog/HeroDisabled.png') no-repeat;
    }

    .jog-btn.upper.right:active {
        background: url('../Resources/ui/jog/GuildPushed.png') no-repeat;
    }

    .jog-btn.upper.right#grayed-out {
        background: url('../Resources/ui/jog/GuildDisabled.png') no-repeat;
    }

    .jog-btn.lower {
        bottom: 23px;
    }

        .jog-btn.lower.left {
            background: url('../Resources/ui/jog/BattleNormal.png') no-repeat;
        }

            .jog-btn.lower.left:active {
                background: url('../Resources/ui/jog/BattlePushed.png') no-repeat;
            }

            .jog-btn.lower.left#grayed-out {
                background: url('../Resources/ui/jog/BattleDisabled.png') no-repeat;
            }

        .jog-btn.lower.right {
            background: url('../Resources/ui/jog/CogsNormal.png') no-repeat;
        }

            .jog-btn.lower.right:active {
                background: url('../Resources/ui/jog/CogsPushed.png') no-repeat;
            }

            .jog-btn.lower.right#grayed-out {
                background: url('../Resources/ui/jog/CogsDisabled.png') no-repeat;
            }



    /* Tournament hosts */

    .jog-btn.plus-btn {
        position: relative;
        display: inline-block;
        background: url('../Resources/ui/jog/Plus.png') no-repeat;
        background-size: 28px 28px;
        width: 29px;
        height: 29px;
        top: 4px;
    }

        .jog-btn.plus-btn:active {
            background: url('../Resources/ui/jog/Plus_pushed.png') no-repeat;
            background-size: 28px 28px;
        }

    .jog-btn.minus-btn {
        position: relative;
        display: inline-block;
        background: url('../Resources/ui/jog/Minus.png') no-repeat;
        background-size: 28px 28px;
        width: 29px;
        height: 29px;
        left: 204px;
        top: 6px;
    }

        .jog-btn.minus-btn:active {
            background: url('../Resources/ui/jog/Minus_pushed.png') no-repeat;
            background-size: 28px 28px;
        }


.host-name {
    position: relative;
    display: inline-block;
    left: -24px;
    top: 7px;
}


/* body */
.body-content {
    padding-left: 34px;
    padding-right: 60px;
    position: relative;
    margin-top: -64px;
    padding-bottom: 18px;
    z-index: 3;
}

.form-group {
    font-size: 18px;
    font-weight: bold;
}

.btn.btn-default {
    width: 122px;
    height: 34px;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: goldenrod;
    background: url(../Resources/ui/Button.png);
    border: none;
}

    .btn.btn-default:active {
        background: url(../Resources/ui/ButtonClick.png);
    }

    .btn.btn-default :focus {
        color: goldenrod;
    }


.btn:hover {
    color: azure;
    cursor: url('../Resources/cursor/Finger.png') 6 2, pointer;
}

.btn:focus:hover {
    color: azure;
}



.btn:disabled {
    background: url(../Resources/ui/ButtonDisabled.png);
    color: gray;
}


input[type]:not([type=text]) {
    cursor: url('../Resources/cursor/Finger.png') 6 2, pointer;
}


input:not(.cke_dialog_ui_checkbox_input)[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 28px;
    height: 25px;
    background: url(../Resources/ui/Checkbox.png) no-repeat;
    display: inline-block;
    position: relative;
    margin-top: 0;
    top: 4px;
}

input[type='checkbox']:checked {
    background-image: url(../Resources/ui/Checked.png);
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../Resources/ui/ComboBox.png) no-repeat;
    width: 201px;
    height: 33px;
    color: #fef2e4;
    position: relative;
    top: 5px;
    padding-left: 6px;
    padding-right: 32px;
    margin-top: -1px;
    border: none;
}

    select:hover {
        cursor: url('../Resources/cursor/Finger.png') 6 2, pointer;
    }

    select:active {
        background: url(../Resources/ui/ComboBoxPushed.png) no-repeat;
    }

    select option {
        background: #312821;
        border: 2px solid #946631;
    }


input.form-control {
    background: url('../Resources/ui/TextForm.png') no-repeat;
    border-radius: 8px;
    border: none;
    width: 256px;
    height: 25px;
    color: #fef2e4;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    top: 8px;
}

.text-danger {
    font-family: sans-serif, Times, Serif;
    font-size: 14px;
    position: relative;
    top: 8px;
}

/* Profile */

#profile-div {
    font-size: 15px;
}


#awards img {
    width: 22px;
    height: 22px;
    background-size: 22px, 22px;
}

.table-bordered  {
    background-color: antiquewhite;    
}

    .table-bordered > thead > tr > th {
        text-align: center;
        border: 1px solid saddlebrown;
        min-width: 90px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .table-bordered > tbody > tr > td {
        text-align: center;
        border: 1px solid saddlebrown;
        min-width: 90px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
