<div class="content">
    <span style="font-size:150%;line-height:116%"><a href="http://heroesleague.ru/public/homm5/rta/maps/rta2x/RTA_2.0.3.zip" class="postlink"><span style="color:green"><span style="text-decoration:underline"><strong class="text-strong">RTA 2.0.3</strong></span></span></a></span> (карта + exe-файл)<br>
    <br>

    <div style="margin:1em auto;border:1px solid #ccc">
        <div style="background:#fff;cursor:pointer;padding:5px 0" onclick="hidn = this.parentNode.getElementsByTagName('div')[1]; btn = this.getElementsByTagName('img')[0]; if (hidn.style.display != '') { hidn.style.display = ''; orimg = btn.src; btn.src = 'data:image/gif;base64,R0lGODlhCQAJAMQeAOLt+ff8//z+/4CRxo2by7vF6a254X6PxICQw87a74CQxuXo84CQxM/b7/H6/v7+/oGRxouayoGSxv7+/8LN7IqZyv7//4KSxur0/MrV74OTx9Ld8trl9gwMDP///wAAACH5BAEAAB4ALAAAAAAJAAkAAAU4oFcpwzFAkWgUVLZxCQGxLgdgGtS+t6NJmY5QOEFcNo/kZGLRXGwYR0DQjDSiU8uCIJJIGJdLKgQAOw=='; } else { hidn.style.display = 'none'; btn.src = orimg; }"><img style="margin:0;padding:0 10px;vertical-align:middle" src="data:image/gif;gif;base64,R0lGODlhCQAJAMQfAIqZyoGSxv3+/trl84CQxYCRxn6PxMXQ7efq9H+Pwtnk8oKTxoCQxKy44QAAANvl9rvG6fD5/o2by4GRxvb8//v9//7+/ubw+v39/ouayoKSxoOTx/7+/wwMDP///////yH5BAEAAB8ALAAAAAAJAAkAAAU84AdoGkNmX4Z4HldRirSxXMdF1zK7nXU9mk2t4+h0BIlNhWPpYTCBDQXXwRwggczgJ8BAGhLRZGIoEFAhADs="><strong class="text-strong">Материалы к карте</strong></div><div style="background: rgb(255, 255, 255); padding: 19px 29px 29px; border-top: 1px solid rgb(204, 204, 204); display: none;">
            <span style="font-size:115%;line-height:116%"><strong class="text-strong"><a href="http://heroesleague.ru/public/homm5/rta/skillwheel/Skillwheel_RTA_2.0.0.exe" class="postlink">Skillwheel для RTA 2.0.0</a></strong></span> (подходит для 2.0.3)<br>
            (спасибо автору колеса <em class="text-italics">Aurelain</em> за предоставленные исходники и <em class="text-italics">Mostovik</em>'у за то, что их добыл <img class="smilies" src="./images/smilies/eusa_dance.gif" width="27" height="16" alt="\:D/" title="Dancing">)<br>
            <br>
            <a href="viewtopic.php?f=27&amp;t=25024" class="postlink">Изменения по сравнению <strong class="text-strong">с RTA 16.4</strong> (тема на форуме)</a><br>
            <a href="https://docs.google.com/document/d/1A_t8I5mi9eaQuuyBCtHFAZMdRtaM3GJHoBycc0JjVLM" class="postlink" target="_blank" rel="noreferrer">Изменения по сравнению <strong class="text-strong">с оригинальной игрой</strong> (Google Doc)</a><br>
            <br>
            <a href="http://heroesleague.ru/public/homm5/manual/Heroes5_Manual_ru_3.1.pdf" class="postlink">PDF-файл</a> с полным описание механики <strong class="text-strong">оригинальной</strong> игры (версия Tribes of the East 3.1)<br>
            <br>
            <a href="http://heroesleague.ru/public/homm5/H5_Game.exe" class="postlink">Оригинальный, не РТАшный exe-файл</a> (если вдруг затрете, а он вам понадобится)
        </div>
    </div>

    <div style="margin:1em auto;border:1px solid #ccc">
        <div style="background:#fff;cursor:pointer;padding:5px 0" onclick="hidn = this.parentNode.getElementsByTagName('div')[1]; btn = this.getElementsByTagName('img')[0]; if (hidn.style.display != '') { hidn.style.display = ''; orimg = btn.src; btn.src = 'data:image/gif;base64,R0lGODlhCQAJAMQeAOLt+ff8//z+/4CRxo2by7vF6a254X6PxICQw87a74CQxuXo84CQxM/b7/H6/v7+/oGRxouayoGSxv7+/8LN7IqZyv7//4KSxur0/MrV74OTx9Ld8trl9gwMDP///wAAACH5BAEAAB4ALAAAAAAJAAkAAAU4oFcpwzFAkWgUVLZxCQGxLgdgGtS+t6NJmY5QOEFcNo/kZGLRXGwYR0DQjDSiU8uCIJJIGJdLKgQAOw=='; } else { hidn.style.display = 'none'; btn.src = orimg; }"><img style="margin:0;padding:0 10px;vertical-align:middle" src="data:image/gif;gif;base64,R0lGODlhCQAJAMQfAIqZyoGSxv3+/trl84CQxYCRxn6PxMXQ7efq9H+Pwtnk8oKTxoCQxKy44QAAANvl9rvG6fD5/o2by4GRxvb8//v9//7+/ubw+v39/ouayoKSxoOTx/7+/wwMDP///////yH5BAEAAB8ALAAAAAAJAAkAAAU84AdoGkNmX4Z4HldRirSxXMdF1zK7nXU9mk2t4+h0BIlNhWPpYTCBDQXXwRwggczgJ8BAGhLRZGIoEFAhADs="><span style="color:#009000;font-weight:bold">Инструкция по установка карты</span></div>
        <div style="display:none;background:#fff;padding:19px 29px 29px 29px;border-top:1px solid #ccc">
            <strong class="text-strong">Замена exe-файла</strong><br>
            1. Открыть папку игры, и в ней папку <em class="text-italics">bin</em><br>
            2. Скопировать (с заменой) из архива из папки <em class="text-italics">exe for RTA</em> файл <strong class="text-strong">H5_Game.exe</strong><br>
            <br>
            <span style="font-size:90%;line-height:116%">
                Если вам понадобится вернуть родной exe-файл Героев, скопируйте его из архива из папки <em class="text-italics">original exe</em><br>
                Можно также скопировать обе папки прямо внутрь папки <em class="text-italics">bin</em> и брать из них экзешники по необходимости.
            </span><br>
            <br>
            <br>
            <strong class="text-strong">Установка карты</strong><br>
            1. Открыть папку с игрой, в ней папку <em class="text-italics">Maps</em>; если такой папки нет, нужно ее создать.<br>
            2. Скопировать в папку <em class="text-italics">Maps </em>файл <strong class="text-strong">RTA_2.0.0.h5m</strong><br>
            3. Из папки <em class="text-italics">UserMODs </em>убрать все моды (моды, изменяющие только интерфейс, можно оставить)
        </div>
    </div>


    <div style="margin:1em auto;border:1px solid #ccc">
        <div style="background:#fff;cursor:pointer;padding:5px 0" onclick="hidn = this.parentNode.getElementsByTagName('div')[1]; btn = this.getElementsByTagName('img')[0]; if (hidn.style.display != '') { hidn.style.display = ''; orimg = btn.src; btn.src = 'data:image/gif;base64,R0lGODlhCQAJAMQeAOLt+ff8//z+/4CRxo2by7vF6a254X6PxICQw87a74CQxuXo84CQxM/b7/H6/v7+/oGRxouayoGSxv7+/8LN7IqZyv7//4KSxur0/MrV74OTx9Ld8trl9gwMDP///wAAACH5BAEAAB4ALAAAAAAJAAkAAAU4oFcpwzFAkWgUVLZxCQGxLgdgGtS+t6NJmY5QOEFcNo/kZGLRXGwYR0DQjDSiU8uCIJJIGJdLKgQAOw=='; } else { hidn.style.display = 'none'; btn.src = orimg; }"><img style="margin:0;padding:0 10px;vertical-align:middle" src="data:image/gif;gif;base64,R0lGODlhCQAJAMQfAIqZyoGSxv3+/trl84CQxYCRxn6PxMXQ7efq9H+Pwtnk8oKTxoCQxKy44QAAANvl9rvG6fD5/o2by4GRxvb8//v9//7+/ubw+v39/ouayoKSxoOTx/7+/wwMDP///////yH5BAEAAB8ALAAAAAAJAAkAAAU84AdoGkNmX4Z4HldRirSxXMdF1zK7nXU9mk2t4+h0BIlNhWPpYTCBDQXXwRwggczgJ8BAGhLRZGIoEFAhADs="><span style="color:red"><strong class="text-strong">ENGLISH version</strong></span></div><div style="display:none;background:#fff;padding:19px 29px 29px 29px;border-top:1px solid #ccc">
            <a href="http://heroesleague.ru/public/homm5/rta/maps/en/rta2x/RTA_2.0.2_en.zip" class="postlink"><span style="font-size:115%;line-height:116%"><strong class="text-strong"><span style="text-decoration:underline">RTA 2.0.2 en</span></strong></span></a> <span style="color:#FF0000">(not yet updated to RTA 2.0.3)</span><br>

            <div style="margin:8px auto;border:1px solid #ccc">
                <div style="background:#fff;font-weight:bold;cursor:pointer" onclick="hidn = this.parentNode.getElementsByTagName('div')[1]; btn = this.getElementsByTagName('img')[0]; if (hidn.style.display != '') { hidn.style.display = ''; orimg = btn.src; btn.src = 'data:image/gif;base64,R0lGODlhCQAJAMQeAOLt+ff8//z+/4CRxo2by7vF6a254X6PxICQw87a74CQxuXo84CQxM/b7/H6/v7+/oGRxouayoGSxv7+/8LN7IqZyv7//4KSxur0/MrV74OTx9Ld8trl9gwMDP///wAAACH5BAEAAB4ALAAAAAAJAAkAAAU4oFcpwzFAkWgUVLZxCQGxLgdgGtS+t6NJmY5QOEFcNo/kZGLRXGwYR0DQjDSiU8uCIJJIGJdLKgQAOw=='; } else { hidn.style.display = 'none'; btn.src = orimg; }"><img style="margin:0;padding:5px" src="data:image/gif;base64,R0lGODlhCQAJAMQfAIqZyoGSxv3+/trl84CQxYCRxn6PxMXQ7efq9H+Pwtnk8oKTxoCQxKy44QAAANvl9rvG6fD5/o2by4GRxvb8//v9//7+/ubw+v39/ouayoKSxoOTx/7+/wwMDP///////yH5BAEAAB8ALAAAAAAJAAkAAAU84AdoGkNmX4Z4HldRirSxXMdF1zK7nXU9mk2t4+h0BIlNhWPpYTCBDQXXwRwggczgJ8BAGhLRZGIoEFAhADs=">How to install the map</div><div style="display:none;background:#fff;padding:6px;border-top:1px solid #ccc">
                    1. Replace Heroes 5 exe-file: copy <strong class="text-strong">H5_Game.exe</strong> from the <em class="text-italics">exe for RTA</em> folder of the map archive into the <em class="text-italics">bin</em> folder of your Heroes 5 folder.<br>
                    2. Put <strong class="text-strong">RTA_2.0.2_en.h5m</strong> from the map archive into the <em class="text-italics">Maps</em> folder of your Heroes 5 folder. If there's no <em class="text-italics">Maps</em> folder, create it.<br>
                    3. You need to remove all mods from <em class="text-italics">UserMODs</em> folder (exept for interface mods).<br>
                    <br>
                    <span style="font-size:90%;line-height:116%">In case you want to return the original exe-file of the game, just copy <strong class="text-strong">H5_Game.exe</strong> from the <em class="text-italics">original exe</em> folder of the map archive into the <em class="text-italics">bin</em> folder.</span>
                </div>
            </div>

            <br>
            How to Play: <a href="http://heroesleague.ru/public/homm5/rta/description/en/Half-RTA%201.9%20How%20To%20Play.doc" class="postlink"><span style="text-decoration:underline">doc</span></a> <span style="color:red">(not yet updated to version RTA 2.0.3)</span><br>
            Changes in game mechanics: <a href="http://heroesleague.ru/public/homm5/rta/description/en/Half-RTA%201.9%20Changes%20in%20mechanics_EN.doc" class="postlink"><span style="text-decoration:underline">doc</span></a> <span style="color:red">(not yet updated to version RTA 2.0.3)</span>
        </div>
    </div>

    <br>
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:159%;line-height:116%">Что такое RTA?</span></strong></span><br>
    <br>
    Эта карта-арена для проведения одной-единственной битвы между двумя прокачанными героями.<br>
    Это аналог дуэлей, но героя здесь вы строите сами. Вы можете выбрать, какие у него будут навыки и умения, армия, артефакты.<br>
    Еще ее можно сравнить с "эмулятором" финальной битвы. Только здесь вам не нужно заниматься отстройкой города, пробивкой нейтралов и захватом карты. Все сведено к решающему сражению основных героев.<br>
    <br>
    <span style="color:#009000;font-weight:bold">Полезные ссылки:</span><br>
    <a href="https://discord.gg/DCxUAvY" class="postlink" target="_blank" rel="noreferrer"><span style="color:#7289da"><span style="text-decoration:underline">Дискорд-сервер RTA 2.0</span></span></a><br>
    <a href="http://forum.heroesleague.ru/viewtopic.php?t=21742" class="postlink" target="_blank" rel="noreferrer"><span style="text-decoration:underline">FAQ для новичков</span></a><br>
    Если вам интересны предыдущие версии карты, их можно найти <a href="viewtopic.php?p=100917#p100917" class="postlink" target="_blank" rel="noreferrer">во втором посте этой темы</a>.<br>
    <br>
    <hr style="margin:15px 0">
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:175%;line-height:116%">Создание игры</span></strong></span><br>
    <img src="http://heroesleague.ru/public/homm5/H-RTA_Description/pictures/1.Game_create.png" class="postimage" alt="Изображение"><br>
    <br>
    <br>
    <strong class="text-strong">Режим призрака</strong> - выкл<br>
    <strong class="text-strong">Быстрая схватка</strong> - вкл<br>
    <strong class="text-strong">Автосохранение</strong> - вкл<br>
    <strong class="text-strong">Одновременные ходы</strong> - вкл<br>
    <strong class="text-strong">Время хода</strong> - на турнирах ставится 15 минут (фактически это время, которое отводится на раскачку)<br>
    <strong class="text-strong">Скорость анимации</strong> - на турнирах ставится 5<br>
    <strong class="text-strong">Динамичные бои</strong> - выкл <span style="font-size:84%;line-height:116%"><em class="text-italics">  можно, конечно, их включить, но это слегка экстрим)</em></span><br>
    <br>
    <strong class="text-strong">Выбор расы</strong><br>
    Выбор расы происходит не при создании игры, а уже <span style="text-decoration:underline">на самой карте на втором ходу</span>. Эта опция определяет, по какой схеме вы будете выбирать себе (или противнику) расу.
    <ul>
        <li>
            <strong class="text-strong">Любой</strong> – выбор себе любой существующей расы (черк героев в этом режиме не предусмотрен).<br>
            <em class="text-italics">(В этом режиме по желанию игроков возможен случайный выбор расы обоим игрокам, подробнее - ниже)</em><br>
            <strong class="text-strong">Себе</strong> – выбор расы себе из двух предложенных<br>
            <strong class="text-strong">Черк 4x4</strong> – каждому игроку предлагается по 4 расы. Игроки по очереди черкают расы (можно черкать как себе, так и противнику), пока с каждой стороны не останется по 2 расы. Затем появится надпись, которая укажет, кому - себе или противнику - вы должны вычеркнуть последнюю расу. Оставшимися расами вы играете.<br>
            <strong class="text-strong">Двойной черк</strong> – игроки сначала определяют 4 варианта матчапов из случайного набора рас, а затем вычеркивают из этих матч-апов те, которые не нравятся. Подробнее:
        </li>
    </ul><span style="font-size:92%;line-height:116%"><em class="text-italics"></em></span><ul>
        <li>
            <ol style="list-style-type:decimal">
                <li> <span style="font-size:92%;line-height:116%"><em class="text-italics"><span style="text-decoration:underline">Определение первых двух матчапов.</span> Выпадают 8 случайных рас. Расы могут повторяться, но не более двух раз. Красный игрок выбирает расу себе для пары №1. Потом синий выбирает расу себе для пары №1. Потом синий выбирает себе расу для пары №2, потом красный выбирает себе для пары №2.</em></span></li>
                <li> <span style="font-size:92%;line-height:116%"><em class="text-italics"><span style="text-decoration:underline">Вычеркивание рас (еще пока не матчапов).</span> На поле осталось 4 расы. К ним еще добавляются случайные 4 расы, итого их становится снова 8. Из этих 8 рас красный и синий вычеркивают по одной расе (по очереди - сначала красный).</em></span></li>
                <li> <span style="font-size:92%;line-height:116%"><em class="text-italics"><span style="text-decoration:underline">Определение вторых двух матчапов.</span> Синий выбирает расу сопернику для пары №3. Потом красный выбирает сопернику для пары №3. Дальше красный выбирает сопернику для пары №4. Потом синий делает то же самое.</em></span></li>
                <li> <span style="font-size:92%;line-height:116%"><em class="text-italics"><span style="text-decoration:underline">Черк матчапов.</span> Таким образом сформированы 4 пары. После этого синий вычеркивает одну из сформированных пар. Потом то же самое делает красный. Остается 2 пары и окончательную пару выбирает компьютер случайным образом. Дальше происходит черк наборов героев как в предыдущих версиях карты.</em></span></li>
            </ol>
        </li>
    </ul><br>
    <br>
    <br>
    <span style="color:#FF9900"><span style="font-size:134%;line-height:116%"><span style="text-decoration:underline"><strong class="text-strong">Настройки в лобби игры</strong></span></span></span><br>
    <br>
    <img src="http://heroesleague.ru/public/homm5/H-RTA_Description/pictures/2.Lobby.png" class="postimage" alt="Изображение"><br>
    <br>
    <br>
    <strong class="text-strong">Стартовый бонус</strong><br>
    Это единственное, что можно выбрать на этом этапе.
    <ul>
        <li>
            <strong class="text-strong">Артефакт</strong> - случайный Малый артефакт<br>
            <strong class="text-strong">Золото</strong> - дополнительные 4000-5000 золота при раскачке<br>
            <strong class="text-strong">Заклинание</strong> - 2 дополнительных заклинания 1-3 круга. Орк получает 4500 золота.
        </li>
    </ul>
    <strong class="text-strong">Стартовый замок</strong> и <strong class="text-strong">стартовый герой</strong> ни на что не влияют. Они будут определены уже во время игры.<br>
    <br>
    <br>
    <br>
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:175%;line-height:116%">Первый ход</span></strong></span><br>
    <br>
    После старта <strong class="text-strong">первый ход</strong> сразу пропускается, чтобы сохранить выпавший расклад.<br>
    <br>
    <br>
    <br>
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:175%;line-height:116%">Второй ход</span></strong></span><br>
    <strong class="text-strong"><em class="text-italics">На этом ходу игроки выбирают расы и героев.</em></strong><br>
    <br>
    <span style="color:orange"><span style="font-size:134%;line-height:116%"><span style="text-decoration:underline"><strong class="text-strong">Выбор рас</strong></span></span></span><br>
    <br>
    <img src="http://heroesleague.ru/public/homm5/H-RTA_Description/pictures/3.Factions.png" class="postimage" alt="Изображение"><br>
    <br>
    <br>
    Ваш начальный герой (Биара у красного игрока и Джованни и синего) стоит на стартовой площадке. Здесь и будет происходить выбор рас.<br>
    Стартовый артефакт или заклинание можно посмотреть у начального героя.<br>
    <br>
    У красных кристаллов стоят существа из фракций, предлагаемых красному герою, у синих – синему. То есть вы в любом случае увидите, какие расы предлагаются противнику. Чтобы выбрать или вычеркнуть (в зависимости от режима) расу, нужно подойти к ней начальным героем.<br>
    <br>
    В режимах «любой» и «себе» очки хода даются игрокам одновременно.<br>
    В режиме «двойной черк» и «черк 4х4» очки хода даются по очереди, сначала красному, потом синему игроку, потом снова красному и т.д.<br>
    <br>
    <strong class="text-strong">Случайный выбор рас</strong><br>
    В режиме "любой" если <span style="color:red">Красный игрок</span> подойдет к Мумии, стоящей вверху площадки, расы будут выданы игрокам случайным образом.<br>
    <br>
    <br>
    <br>
    <span style="color:orange"><span style="font-size:134%;line-height:116%"><span style="text-decoration:underline"><strong class="text-strong">Черк героев</strong></span></span></span><br>
    <br>
    <img src="http://heroesleague.ru/public/homm5/H-RTA_Description/pictures/4.Heroes.png" class="postimage" alt="Изображение"><br>
    <br>
    <br>
    После этого игроку предоставляется возможность примерно определить героев, которых сможет раскачать он или его противник.<br>
    На стартовой площадке появятся четыре набора по шесть героев – слева те, которые могут выпасть игроку, а справа - противнику. Один из наборов игрок сможет вычеркнуть. Какой именно - зависит от выбранного режима:
    <ul>
        <li>
            «Любой» - выпадает 2 случайных героя; черка героев в этом режиме нет<br>
            «Себе» - вычеркивает набор себе<br>
            «Двойной черк», «Черк 4х4» - себе или противнику - по выбору игрока
        </li>
    </ul><span style="color:red">Красный игрок</span> черкает героев первым.<br>
    <br>
    Из оставшихся у каждого игрока шести героев каждому случайным образом выпадет двое. Одного из них игрок выберет для раскачки.<br>
    <br>
    <br>
    После черка героев игроки <strong class="text-strong">завершают ход</strong>.<br>
    <br>
    <br>
    <br>
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:175%;line-height:116%">Третий ход</span></strong></span><br>
    <strong class="text-strong"><em class="text-italics">На третьем ходу происходит раскачка.</em></strong><br>
    <br>
    <br>
    Зона раскачки состоит из двух частей – территории рядом с замком и "предбанника", в который можно попасть через двусторонний портал.<br>
    <br>
    В зоне рядом с замком игрок качает героя, покупает армию и артефакты, может воспользоваться расовыми навыками (некромантия, мини-артефакты и т.п.)<br>
    В предбаннике можно поменять ненужные навыки, продать ресурсы и артефакты, повысить характеристики (статы) героя. Также там можно купить боевые машины.<br>
    <br>
    Герои имеют <strong class="text-strong">бесконечные очки хода</strong>, поэтому можно не бояться, что герой куда-либо не дойдет. Если у какого-то героя внезапно закончились очки хода, попробуйте подвигаться другим героем, и они восполнятся автоматически.<br>
    <br>
    <br>
    <span style="color:orange"><span style="font-size:134%;line-height:116%"><span style="text-decoration:underline"><strong class="text-strong">На этом ходу вы получаете:</strong></span></span></span>
    <ul>
        <li>
            <strong class="text-strong">1.</strong> Отстроенный замок своей расы<br>
            <strong class="text-strong">2.</strong> Двух случайных героев своей расы<br>
            <strong class="text-strong">3.</strong> Таверну со случайным героем случайной расы<br>
            <strong class="text-strong">4.</strong> Возможность нанять армию в замке<br>
            <strong class="text-strong">5.</strong> Набор доступных для изучения заклинаний<br>
            <strong class="text-strong">6.</strong> Шестизначную сумму денег - порядка 150 000<br>
            <strong class="text-strong">7.</strong> Возможность бесплатно прокачаться до 16 уровня в два этапа. Сначала до 9уровня, потом бесплатно можно продолжить обучение до 16 уровня. Это сделано, чтобы Вам было удобнее следить за полученными навыками, умениями и распределением статов. Далее – до 23 уровня – за деньги. Стоимость дополнительных уровней возрастает, начиная с ценника 5500 и шагом в 1000.<br>
            <strong class="text-strong">Маги</strong> - ресурсы для изготовления мини-артефактов (35 мер дерева и руды,  25 мер ртути, кристаллов, серы и самоцветов)
        </li>
    </ul>
    <span style="color:red"><strong class="text-strong"><em class="text-italics">i</em></strong></span> <em class="text-italics"><span style="font-size:100%;line-height:116%">Количество существ в замке всегда одинаково, однако численность существ каждого отдельного уровня может варьироваться в пределах +/-10%. При этом, если существ какого-то уровня стало больше, то существ другого уровня становится меньше, то есть общая сила армии практически не меняется. Количество получаемых денег меняется в соответствии с количеством существ.</span></em><br>
    <br>
    <span style="color:red"><strong class="text-strong"><em class="text-italics">i</em></strong></span> <em class="text-italics">Гномам ресурсы для использования рун выдаются уже непосредственно во время боя (количество зависит от уровня расового навыка героя-гнома).</em><br>
    <br>
    <br>
    <br>
    <span style="color:orange"><span style="font-size:134%;line-height:116%"><span style="text-decoration:underline"><strong class="text-strong">Территория рядом с замком</strong></span></span></span><br>
    <br>
    <br>
    <img src="http://heroesleague.ru/public/homm5/H-RTA_Description/pictures/5.Town.png" class="postimage" alt="Изображение"><br>
    <strong class="text-strong"><em class="text-italics">Территория рядом с замком (Маги). Слева расположен замок, справа - строение для получения уровней (Пирамида).</em></strong><br>
    <br>
    <br>
    <strong class="text-strong">Замок</strong><br>
    Здесь можно нанять существ, использовать расовый навык (если для него нужен замок(кроме эльфов)). Также в вашем распоряжении Рынок, Кузница, а у Магов и Лиги также Лавка артефактов.<br>
    <br>
    Зато заклинаний здесь нет. Доступные заклинания теперь висят над стартовой площадкой (там, где вы выбирали расы) и учатся героем автоматически в начале четвертого хода (но только те, которые герой может выучить). Об изучении заклинаний подробно рассказано ниже.<br>
    <br>
    <br>
    <strong class="text-strong">Строение для получения уровней</strong><br>
    У каждой расы оно особенное, но суть его везде одинакова. Оно позволяет единовременно и бесплатно получить 16 уровней первому зашедшему герою.<br>
    <br>
    Дальнейшее повышение уровня можно получить за деньги:
    <ul>
        <li>
            17 - 5500 золотых <br>
            18 - 6500 золотых <br>
            19 - 7500 золотых<br>
            20 - 8500 золотых <br>
            21 - 9500 золотых<br>
            22 - 10500 золотых<br>
            23 - 11500 золотых
        </li>
    </ul>
    Здание, как правило, заметное (например, Драконья утопия у Гномов или Старейшины Силанны у Эльфов).<br>
    <br>
    <br>
    <strong class="text-strong">Таверна</strong><br>
    <em class="text-italics">Она таверна везде и в пыльных веках останется таверною <span style="font-size:84%;line-height:116%">(с) Vsev</span></em><br>
    <br>
    Позволяет нанимать героев. Герой предлагается только один, однако может выпасть герой родной расы.<br>
    Все функции, кроме найма героя, в Таверне отключены. В городе Таверны нет.<br>
    На стартовой площадке в списке возможных героев противника также указывается герой, сидящий в его таверне.<br>
    <br>
    <br>
    <strong class="text-strong">Ментор</strong><br>
    Если вас не устраивают стартовые навыки героя, здесь их можно обменять на другие. Это можно сделать только <span style="text-decoration:underline">до начала</span> раскачки. Сброс одного уровня стоит 500 золота.<br>
    <br>
    Также ментора может посетить герой 16 уровня или выше - если прокачка пошла совсем не так, как вам хотелось, можно ее <strong class="text-strong">полностью</strong> сбросить и раскачаться заново. Статы героя при этом также изменятся. Какая-то часть старых умений все же останется - в качестве базы новой прокачки. Стоит это 9500 + 1000*(lvl-16) золота. Также можно перекачаться после получения 9 уровня за 6500 золотых.<br>
    <br>
    Если же в целом раскачка удалась, и вам нужно поменять только несколько умений, это можно сделать у ментора, расположенного в предбаннике. Там можно менять умения <strong class="text-strong">по одному</strong>.<br>
    <br>
    <br>
    <strong class="text-strong">Лавка артефактов</strong><br>
    Позволяет покупать артефакты. Маги и Темные эльфы имеют дополнительную Лавку артефактов в замке.<br>
    <br>
    <br>
    Волшебный колодец для восстановления маны отсутствует. Мана автоматически восполнится в начале пятого хода.<br>
    <br>
    <br>
    <strong class="text-strong"><span style="font-size:100%;line-height:116%">Некрополис:</span> Гарнизон нежити</strong><br>
    <br>
    Вы можете взять дополнительные войска из гарнизона перед боем из всплывающего окна. Выбрать можно 2 стека из предложенных.<br>
    <br>
    <br>
    <strong class="text-strong"><span style="font-size:100%;line-height:116%">Светлые эльфы:</span></strong><br>
    Отряд, после победы над которым можно выбрать заклятых врагов, появляется теперь на четвертый ход в подземелье, куда Вы  попадаете. Там же находится замок, где можно выставить заклятых врагов.<br>
    <br>
    <br>
    <br>
    <span style="color:orange"><span style="font-size:134%;line-height:116%"><span style="text-decoration:underline"><strong class="text-strong">Предбанник</strong></span></span></span><br>
    <br>
    В Предбанник герой попадает через двусторонний портал.<br>
    <br>
    <img src="http://heroesleague.ru/public/homm5/H-RTA_Description/pictures/7.Mentor.png" class="postimage" alt="Изображение"><br>
    <br>
    <br>
    <strong class="text-strong">Фактория</strong><br>
    Работает как обычно - обменивает ресурсы, позволяет продать артефакты за половину стоимости.<br>
    <br>
    <br>
    <strong class="text-strong">Ментор</strong><br>
    Здесь можно обменять ненужные умения на новые. Первые 5 обменов на 17 лвле стоят 2500 золота каждый, с каждым последующим цена возрастает на 500. На 16 лвле - 2000. Если вы сбрасывали базовые навыки героя у Ментора возле города, то <strong class="text-strong">они тоже учитываются</strong>.<br>
    <br>
    <br>
    <strong class="text-strong">Строения, позволяющие поднимать характеристики героя</strong>
    <ul>
        <li>
            Лагерь воинов <em class="text-italics">(Лагерь наемников)</em>  – поднимает Нападение зашедшего героя на +1.<br>
            Минарет защитников <em class="text-italics">(Башня Марлетто)</em> – поднимает Защиту на +1.<br>
            Капище колдовства <em class="text-italics">(Планетарий)</em> – поднимает Колдовство на +1.<br>
            Монумент древних знаний <em class="text-italics">(Кристалл откровения)</em> – Знание +1.
        </li>
    </ul>Поднятие любой характеристики на +1 стоит 2500 золота.<br>
    Поднимать характеристики в этих строениях можно только 3 раза (характеристики могут повторяться).<br>
    <br>
    <br>
    <strong class="text-strong">Мастерская боевых машин</strong><br>
    Позволяет покупать боевые машины за <strong class="text-strong">базовую </strong>стоимость. В Кузнице в городе цены на две из трех машин завышены (на какие – зависит от расы).<br>
    <br>
    <br>
    <br>
    <br>
    <span style="color:orange"><span style="font-size:134%;line-height:116%"><span style="text-decoration:underline"><strong class="text-strong">Изучение заклинаний</strong></span></span></span><br>
    <br>
    Доступные герою заклинания теперь находятся не в городе, а висят на стартовой площадке.<br>
    Здесь всё как в замке - все те же две линейки профильной магии + три случайных заклинания 1-3 уровней. Магам, соответственно, добавлены заклинания вместо "Библиотеки", Гномам - руны, а у Орков - боевые кличи.<br>
    <br>
    Некоторые особенности есть только у Темных эльфов - им выпадает 5 дополнительных заклинаний 4-5 уровней и Орков - боевой клич 1 уровня им выпадает только один (то есть всего три клича).<br>
    <br>
    Герой учит заклинания в соответствии со своей раскачкой после завершения третьего хода (то есть ни в замок, ни куда-то еще заходить не нужно - все происходит автоматически).<br>
    <br>
    Также, теперь чтобы знать заклинания всех пяти уровней, <span style="text-decoration:underline">не нужно владеть Искусным уровнем магии</span>, достаточно Базового (но сила заклинаний на базовом уровне, естественно, будет меньше). <span style="text-decoration:underline">Телепорт</span> по-прежнему учится только на Продвинутом уровне или выше.<br>
    <br>
    <br>
    <strong class="text-strong">Все эти изменения нужны для того, чтобы реализовать две фишки:</strong><br>
    <br>
    <strong class="text-strong">1.</strong> Дополнительная линейка магии<br>
    С 25% шансом вам может выпасть <span style="text-decoration:underline">дополнительная линейка магии</span>. Эта магия - непрофильная для вашей расы (например, Свет для Некромантов или Хаос для Людей).<br>
    То есть вы можете выбирать уже из трех разных магий. Правда при этом трех случайных заклинания 1-3 уровней у вас не будет.<br>
    Если вам выпали дополнительные заклинания, значит, они выпали и вашему противнику.<br>
    Орку при срабатывании 25%-го шанса выпадает не один, а два клича 1 уровня.<br>
    <br>
    Если вам интересно, какие именно заклинания и кому могут выпасть, эту информацию можно найти в файле «Half-RTA Изменения в механике» (ссылка есть наверху).<br>
    <br>
    <br>
    <strong class="text-strong">2.</strong> Перегенерация заклинаний<br>
    Если вам не нравятся выпавшие вам заклинания, их можно перегенерировать. Для этого нужно подойти начальным героем (он стоит на Стартовой площадке рядом с заклинаниями) к Книге заклинаний, которая находится прямо перед ним. Заклинания (и руны) будут сгенерированы заново. При этом, естественно, возможны некоторые совпадения с изначальным набором заклинаний.<br>
    <br>
    Если в начале у вас была дополнительная линейка магии, то при перегенерации она сохранится, но также перегенерится. И, соответственно, если ее не было, то она и не появится.<br>
    <br>
    Перегенерация стоит <strong class="text-strong">10 000</strong> золота для всех рас кроме орков. Для орков она стоит <strong class="text-strong">5 000</strong> золота. Гном может перегенерить выпавшие руны за 5000 золота. Однако перегенерить можно или <strong class="text-strong">только заклинания</strong> или<strong class="text-strong"> только руны</strong>.<br>
    <br>
    <img src="http://heroesleague.ru/public/homm5/H-RTA_Description/pictures/8.Spells.png" class="postimage" alt="Изображение"><br>
    <br>
    <br>
    Закончив готовиться к битве, игроки <strong class="text-strong">завершают</strong> третий ход.<br>
    <br>
    <br>
    <br>
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:175%;line-height:116%">Четвертый ход</span></strong></span><br>
    <br>
    В начале хода ваш герой автоматически телепортируется на арену, кроме случаев, когда вы играете родным героем <strong class="text-strong">Светлых эльфов</strong>.<br>
    <br>
    Если вы играете за <strong class="text-strong">Светлых эльфов</strong>, то вашему герою-эльфу предварительно необходимо выбрать заклятых врагов. Для этого он автоматически переносится к дополнительному замку, где уже находится отряд из существ расы противника. После убийства этого отряда нужно зайти в замок, выбрать заклятых врагов (их количество определяется уровнем навыка Мститель) и воспользоваться телепортом возле замка для переноса на арену. Герой, владеющий навыком <strong class="text-strong">Безжалостный мститель</strong> (при наличии Кулона мастерства), может переключить обзор с Подземелья на Поверхность и изучить состав армии вражеского героя перед выбором заклятых врагов в замке.<br>
    <br>
    <span style="text-decoration:underline">Обратите внимание, что эльф может воспользоваться способностью <strong class="text-strong">Разгадка тайного</strong> для изучения заклинаний во время битвы с отрядом заклятых.</span> <br>
    <br>
    На арене представлены различные типы земли (Болото, Трава, Пески и т.д.), нет только Каменных залов.<br>
    Так принято, что на этом ходу <span style="color:blue">Синий игрок</span> выбирает землю, на которой будет проходить сражение. Не допускается выбор родной для фракции (но не героя!) земли. Нельзя выбирать снег, играя за гномов, песок - за магов, и т.д.<br>
    <br>
    <span style="color:blue">Драться на этом ходу еще нельзя!</span> После выбора поля сражения <span style="font-size:109%;line-height:116%"><span style="text-decoration:underline">необходимо завершить ход</span></span>, так как особые умения некоторых героев, а также эффекты некоторых артефактов и навыков срабатывают только после завершения четвертого хода.<br>
    <br>
    <br>
    <br>
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:175%;line-height:116%">Пятый ход</span></strong></span><br>
    <br>
    Пропускается для сохранения расклада. <br>
    <br>
    Мана героев автоматически восполняется до возможного максимума. Все ненадетые артефакты уничтожаются.<br>
    <br>
    <span style="color:brown"><strong class="text-strong"><span style="font-size:175%;line-height:116%">Шестой ход</span></strong></span><br>
    <br>
    На шестом ходу происходит битва. <span style="color:blue">Синий герой</span> остается стоять на выбранной земле.<br>
    Битва начинается автоматически. <br>
    <br>
    <br>
    <em class="text-italics">
        <span style="color:red"><strong class="text-strong">i</strong></span> Карта разрабатывалась для игры по сети, корректная игра за одним компьютером предусмотрена только в режиме черка <strong class="text-strong">Любой</strong>.<br>
        <span style="color:red"><strong class="text-strong">i</strong></span> В карту вшит мод, изменяющий механику игры. Поэтому при игре на этой карте рекомендуется вынимать все установленные вами моды (корме модов на интерфейс, их можно оставить). При игре на других картах также рекомендуется вынимать карту RTA из папки Maps. Одновременно в папке Maps не может находиться сразу несколько версий карты RTA, иначе стабильная игра на карте невозможна.
    </em><br>
    <br>
    <br>
    <br>
    _____________________________________________________________<br>
    Автор идеи и создатель оригинальной карты – Bandit<br>
    Дизайн – Tarilariran<br>
    Модификация и скрипты – Ejett, Оgo-i, Vsev, Mostovik, iMessor, GedxBlood, RedHeavenHero<br>
    <br>
    Карта разработана и оттестирована под эгидой «Лиги героев»<br>
    <a href="http://forum.heroesleague.ru/" class="postlink">http://forum.heroesleague.ru/</a>
</div>