@model IEnumerable<RTA_Project_MVC.Models.ArticleViewModel>

<div id="tactical-arena-logo"></div>

<div id="news-container">

    @foreach (var item in Model)
    {
        <div class="row">
            <center><label id="news-header">@item.Title</label></center>
                <div class="col-md-12 col-sm-8 col-xs-6" style="padding: 0 32px;">  
                    <div>
                        <label>@String.Format("{0:dd/MM/yyyy}", item.Date)</label>
                        <div>@Html.Raw(WebUtility.HtmlDecode(item.Content))</div>
                    </div>
                </div>
        </div>
    }

</div>