@model IEnumerable<RTA_Project_MVC.Models.TournamentPreviewModel>

<h2>Турниры</h2>

<div>

    <h3>Текущие турниры :</h3>
    @foreach (var item in Model)
    {
        <div class="row">
            <a href="@Url.Action("Details", "Tournament", new { id=item.Id })">@item.NameRus</a>
        </div>
    }


</div>

